# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
.coverage.*
coverage.xml
.env.example
.env.local
.env.development
.env.production

# Virtual environment
.venv/
venv/